@model Zapatilla


@section Scripts {
    <script>
        $(document).ready(function(){
           
            var idProducto = '@Model.IdProducto';
            var posicion = parseInt('@(ViewData["posicion"] ?? "1")'); 
            var numReg = parseInt('@(ViewData["ultimo"] ?? "1")');     

            
            function loadPartial(pos) {
                
                posicion = pos;
                
                var url = '@Url.Action("_PartialImagenes", "Zapatillas")' + '?id=' + idProducto + '&posicion=' + pos;
                $("#container").load(url);
            }

           
            loadPartial(posicion);

            
            $(document).on("click", "#btnprimero", function(){
                loadPartial(1);
            });

            
            $(document).on("click", "#btnanterior", function(){
                var anterior = posicion - 1;
                if(anterior < 1){
                    anterior = 1;
                }
                loadPartial(anterior);
            });

            
            $(document).on("click", "#btnsiguiente", function(){
                var siguiente = posicion + 1;
                if(siguiente > numReg){
                    siguiente = numReg;
                }
                loadPartial(siguiente);
            });

            
            $(document).on("click", "#btnultimo", function(){
                loadPartial(numReg);
            });
        });
    </script>
}


<h1>Detalle @Model.Nombre</h1>

<div class="card" style="width: 30rem;">
    <div class="card-header">
        @Model.Nombre - Posición @ViewData["posicion"]
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Descripcion</li>
        <li class="list-group-item">@Model.Precio</li>
    </ul>
    <div id="container"></div>
</div>
